.weatherBg{
  background: url("https://img.freepik.com/premium-vector/clouds-stars-sun-blue-background-childrens-vector-illustration-sky_153074-219.jpg");
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-control{
  border: 2px solid black;
  width: 50vw;
}


.weatherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}

.weatherIcon{
  /* margin-top: 2rem; */
  height: 100px;
  width: 100px;
}


.weatherCity{
  font-size: 35px;
}

.weatherTemp{
  font-size: 45px;
  font-weight: 700px;
}

.weatherCountry{
  font-size: 25px;
}

.weatherType{
  font-size: 20px;
}