.weatherBg{
  /* background: url("https://www.freepik.com/premium-psd/sunny-thunder-weather-forecast-with-cloud-transparent-background-3d-illustration_37234435.htm"); */
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(215, 215, 247);
}

.form-control{
  border: 2px solid black;
  width: 50vw;
}


.weatherResultBox{
  margin: auto;
  width: 500px;
  height: 300px;
}

.weatherIcon{
  /* margin-top: 2rem; */
  height: 100px;
  width: 100px;
}


.weatherCity{
  font-size: 35px;
}

.weatherTemp{
  font-size: 45px;
  font-weight: 700px;
}

.weatherCountry{
  font-size: 25px;
}

.weatherType{
  font-size: 20px;
}
